html
    head
        title= 'One North'
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css' rel='stylesheet')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
        block head
    body   
        #app
            block content

        script(src="https://unpkg.com/vue/dist/vus.js")

        block scripts